/* ---------------------------------------------------------------------------------  
  全ページ共通
--------------------------------------------------------------------------------- */ 
body { 
  margin: 0; 
  padding: 0; 
}

/* ナビゲーションバー */
.navbar {
  z-index: 10;
}
.navbar-logo-size {
  width:"30";
  height:"24";
}
.nav-tabs .nav-link { 
  color: white; 
}       
.nav-tabs .nav-link.active { 
  color: black; 
}


/* オフキャンバス */
.offcanvas {
  z-index: 8; /* Keep the offcanvas below the sidebar */
}

/* ポップアップテキスト */
.image-container {
  position: relative;
  display: inline-block;
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #47476b;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}
.image-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

